
  .homeTitle{
    width: 1024px;
    font-size: 20px;
  }

  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* You can adjust the value to control the amount of rounding */
  }

.card-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center; /* Center horizontally within the container */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.centered-footer {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
   /* This centers the div vertically in the viewport */
}

.centered-maillist {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
   /* This centers the div vertically in the viewport */
}